useDynLib(crqa, .registration = TRUE)

export(crqa,
       drpfromts,
       mdDelay, 
       mdFnn,
       optimizeParam,
       piecewiseRQA,
       plotRP,
       plot_rp,
       simts,
       spdiags,
       wincrqa,
       windowdrp,
       false.nearest,
       mutual)

importFrom("grDevices", dev.off, recordPlot)
importFrom("graphics", mtext, hist, matpoints, par, plot, points)
importFrom("Matrix", diag, t, Matrix, sparseMatrix)
importFrom("pracma", circshift, eps, pdist2, polyfit)
importFrom("stats", sd, median, rnorm, runif, var)  
importFrom("rdist", cdist)
importFrom("utils", tail)
